<div class="container">
  <h2>ONE LISTING</h2>
  <%= @listing.name %>

  <div class="d-flex flex-wrap">
    <% @listing.photos.each_with_index do |photo, index| %>
      <% if index.zero? %>
        <div class="col-sm-6">
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        </div>
      <% else %>
        <% if index == 1 %>
        <div class="col-sm-6">
          <div class="row">
        <% end %>
          <div class="col-sm-6">
            <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
          </div>
        <% if (index + 1) % 2 == 0 %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>



  <%= link_to "book", new_listing_booking_path(@listing) %>

  <%= link_to "edit", edit_listing_path(@listing) %>
  <%= link_to "delete", listing_path(@listing), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@listing.name} from your listings?"} %>


  <div data-controller="toggle" class="mt-5">
  <button data-action="click->toggle#fire" class="btn btn-outline-primary">Book this listing</button>
  <div data-toggle-target="togglableElement" class="d-none">
  <%= render "bookings/new", booking: @booking %>
  </div>
</div>
</div>
