<div class="container">
  <h2>ONE LISTING</h2>
  <%= @listing.name %>

  <% @listing.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

  <%= link_to "book", new_listing_booking_path(@listing) %>

  <%= link_to "edit", edit_listing_path(@listing) %>
  <%= link_to "delete", listing_path(@listing), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@listing.name} from your listings?"} %>
</div>
