<div class="container m-5 ">
  <h1 class="text-center my-5">My Bookings</h1>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings" type="button" role="tab" aria-controls="bookings" aria-selected="true">My bookings</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests" type="button" role="tab" aria-controls="requests" aria-selected="false">My booking requests</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
      <table class="table">
        <thead>
          <tr>
            <th>Booking ID</th>
            <th>User</th>
            <th>Listing</th>
            <th>Check in</th>
            <th>Check out</th>
            <th>Status</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <% @bookings_made.each do |booking| %>
          <tr>
            <td class="align-middle"><%= link_to booking.id, booking_path(booking) %></td>
            <% if booking.user.profile_picture.attached? %>
              <td><%= cl_image_tag booking.user.profile_picture.key, class: 'avatar-bordered' %> <%= booking.user.first_name %></td>
            <% end %>
            <td class="align-middle"><%= booking.listing.name %></td>
            <td class="align-middle"><%= booking.start_date %></td>
            <td class="align-middle"><%= booking.end_date %></td>
            <td class="align-middle">
              <div class="booking-actions">
                <% if booking.pending? && current_user == booking.listing.user %>
                  <%= simple_form_for booking do |f| %>
                    <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                    <%= f.submit 'Accept', class: 'btn-accept' %>
                  <% end %>
                  <%= simple_form_for booking do |f| %>
                    <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                    <%= f.submit 'Reject', class: 'btn-decline' %>
                  <% end %>
                <% else %>
                  <p class='booking-tag align-middle'><%= booking.status %></p>
                <% end %>
              </div>
            </td>
            <td class="align-middle"><%= link_to "See more", booking_path(booking), class:"btn-app"  %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="requests" role="tabpanel" aria-labelledby="requests-tab">
      <table class="table">
        <thead>
          <tr>
            <th>Booking ID</th>
            <th>User</th>
            <th>Listing</th>
            <th>Check in</th>
            <th>Check out</th>
            <th>Status</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <% @booking_requests_received.each do |booking| %>
          <tr>
            <td class="align-middle"><%= link_to booking.id, booking_path(booking) %></td>
            <% if booking.user.profile_picture.attached? %>
              <td><%= cl_image_tag booking.user.profile_picture.key, class: 'avatar-bordered' %> <%= booking.user.first_name %></td>
            <% end %>
            <td class="align-middle"><%= booking.listing.name %></td>
            <td class="align-middle"><%= booking.start_date %></td>
            <td class="align-middle"><%= booking.end_date %></td>
            <td class="align-middle">
              <div class="booking-actions d-flex">
                <% if booking.pending? && current_user != booking.user %>
                  <%= simple_form_for booking do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                  <%= f.submit "✔️", class: 'btn-accept' %>
                  <% end %>
                  <%= simple_form_for booking do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                  <%= f.submit '✖️', class: 'btn-decline'%>
                  <% end %>
                <% else %>
                  <p class="m-0"><%= booking.status %></p>
                <% end %>
              </div>
            </td>
            <td class="align-middle"><%= link_to "See more", booking_path(booking), class:"btn-app"  %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
