<div class="container">
  <h2>booking details</h2>
  <%= @booking.id %>
  <%= @booking.total %>

  <%= link_to "delete",  listing_booking_path(@booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@booking.id} from your bookings?"} %>
  <%= link_to "Add a review",  new_booking_review_path(@booking) %>
</div>

<% @booking.reviews.each do | review | %>
<%= review.comment %>
<% end %>
