<div class="container">
  <h1 class="mt-5">My Favorites listings</h1>

  <div class="cards d-flex mt-5">
    <% if @favorites.any? %>
    <% @favorites.each do |favorite| %>
      <div class="card">
        <div id="carouselExampleControls<%= favorite.listing.id %>" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% favorite.listing.photos.each_with_index do |photo, index| %>
              <% if index.zero? %>
                <div class="carousel-item active">
                  <%= cl_image_tag photo.key, class: "d-block w-100" %>
                </div>
              <% else %>
                <div class="carousel-item">
                  <%= cl_image_tag photo.key, class: "d-block w-100" %>
                </div>
              <% end %>
            <% end %>
          </div>

          <a class="carousel-control-prev" href="#carouselExampleControls<%= favorite.listing.id %>" type="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls<%= favorite.listing.id %>" type="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="d-flex justify-content-between mt-3">
              <div class="w-75" >
                <h3><%= favorite.listing.name %></h3>
              </div>
              <div class="w-25 mt-1" >
                <% if favorite.listing.reviews.exists? %>
                  <p class="rating-size"><i class="fa-solid fa-star"></i>  <%= favorite.listing.average_rating(favorite.listing).round(2) %></p>
                <% end %>
              </div>
            </div>
        <p><i class="fa-solid fa-location-pin"></i> <%= favorite.listing.location_by_city %></p>
        <p><i class="fa-solid fa-paw"></i> <%= favorite.listing.maximum_pets  %></p>
        <p><%= favorite.listing.price %>€ per night</p>
      </div>
    <% end %>
  </div>
  <% else %>
  <p><em>You have no favorite listing yet...</em></p>
  <% end %>
</div>
